# Hide cache
__pycache__/
.venv/
.xpp/

# Hide x++ testing files
pkgs/*
!pkgs/stdlib
main.xpp
*.xpp.json

# Hide mdbook build
docs/book/

# Everything pip related
dist/
build/
*.egg-info/
*.egg
